<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Signup</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4">
      <form action="/user/signup" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="fullName" class="form-label">FullName</label>
          <input
            type="text"
            class="form-control"
            name="fullName"
            id="fullName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            required
          />
          <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            required
          />
        </div>
        <div class="mb-3">
          <label for="coverImage" class="form-label">Profile Image</label>
          <div class="mb-3" style="display: flex">
            <input
              class="form-control"
              name="profileImage"
              type="file"
              id="profileImage"
              accept="image/*"
              style="max-height: 40px; min-width: 30%; width: fit-content"
              onchange="imagePreview(this)"
            />
            <div class="card" style="width: 18rem; margin-left: 10%">
              <img src="/default.png" alt="default" id="avatar" />
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <script>
      const avatar = document.getElementById("avatar");

      function imagePreview(e) {
        const blob = new Blob([e.files[0]], { type: "image/jpeg" });
        const blobURL = URL.createObjectURL(blob);
        avatar.style.display = "block";
        avatar.src = blobURL;
      }
    </script>
    <%- include('./partials/scripts') %>
  </body>
</html>
